In [1]:
def read_sql_to_dataframe (connection_string, sql_query):
    '''This function takes in a SQL database connection string and SQL query, 
    and reads the data from the database into a pandas DataFrame.
    Parameter1: 
    connection_string (str): A string representing the connection information for the SQL database.
    Parameter2:
    sql_query (str): A string containing the SQL query to be executed.
    when specifying a string that contains a complicated query, you can use triple quotes (""")
    to enclose the string. This allows you to include line breaks and other special characters'''
    import sqlalchemy 
    import pandas as pd
    from sqlalchemy import create_engine, text
    connection = sqlalchemy.create_engine(connection_string)
    q=sql_query
    df = pd.DataFrame(connection.connect().execute(text(sql_query)))
    return(df)